/* The navbar */

.nav {
    width: 100px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: "Titillium Web", cursive;
    font-size: x-large;
    font-weight: bold;
  }

/*Background*/

.backgroundIndex  {
    background-image: url("https://images.unsplash.com/photo-1517495306984-f84210f9daa8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size: 10000px;
}

.backgroundViewMaster  {
    background-image: url("https://images.unsplash.com/photo-1615402020065-b01cca46ca41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2486&q=80");
    background-size: 500px;
}

.backgroundPolaroid {
    background-image: url("https://images.unsplash.com/photo-1605722625766-a4c989c747a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-size: 1350px;
}

.backgroundGames {
    background-image: url("https://images.unsplash.com/photo-1531525797753-909788106ccb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
    background-size: 1000px;
}

.backgroundCandy  {
    background-image: url("https://images.unsplash.com/photo-1587642303371-96accbf47448?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-size: 1500px;
}

.backgroundToys {
    background-image: url("https://i.etsystatic.com/7459605/r/il/25761a/442388702/il_680x540.442388702_2uca.jpg");
    background-size: 200px;
}

/*Links*/

.linkViewMaster, a.linkViewMaster:link, a.linkViewMaster:visited {
    text-decoration: none;
    color: black;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

.linkViewMaster, a.linkViewMaster:hover {
    text-decoration: none;
    color: #f0491f;
}

.linkPolariod, a.linkPolariod:link, a.linkPolariod:visited {
    text-decoration: none;
    color: black;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

.linkPolariod, a.linkPolariod:hover {
    text-decoration: none;
    height: 200px;
    background: -webkit-linear-gradient(left,red, orange , yellow, green, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,red,  orange, yellow, green, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,red,  orange, yellow, green, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, orange , yellow, green, blue); /* Standard syntax (must be last) */
    color:transparent;    
    -webkit-background-clip: text;
    background-clip: text;
}

.linkGames, a.linkGames:link, a.linkGames:visited {
    text-decoration: none;
    color: black;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

.linkGames, a.linkGames:hover {
    text-decoration: none;
    color: yellow;
}

.linkCandy, a.linkCandy:link, a.linkCandy:visited {
    text-decoration: none;
    color: black;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

.linkCandy, a.linkCandy:hover {
    text-decoration: none;
    color: #FF10F0;
}

.linkToys, a.linkToys:link, a.linkToys:visited {
    text-decoration: none;
    color: black;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
}

.linkToys, a.linkToys:hover {
    text-decoration: none;
    color: aquamarine;
}

/*About*/

.IndexAbout {
    width: 500px;
    padding: 0px;
    margin: 300px;
    font-family: "Alfa Slab One";
    text-align: center;
    float: center;
    color: white;
    font-size: xx-large;
    animation: mymove 5s infinite;
}

.viewMasterAbout {
    width: 400px;
    padding: 0px;
    margin: 150px;
    font-family: "Alfa Slab One";
    text-align: center;
    float: center;
    color: black;
    font-size: xx-large;
    animation: animationFrames 5s infinite;}

.polarAbout {
    -webkit-animation: spinX 7s infinite;
    animation: spinX 3s infinite;
    width: 200px;
    padding: 0px;
    margin: 150px;
    font-size: larger;
    font-family: "Alfa Slab One";
}

.gamesAbout {
    width: 100px;
    height: 00px;
    padding: 250px;
    float: right;
    font-size: larger;
    color: orange;
    border-radius: 100%;
    animation: bounce 0.7s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.02, 1, 1);
    animation-iteration-count: infinite;
}

.gamesImage {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 100px;
    top: 50%;
    left: 50%;
    margin: -185px 0 0 -300px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.candyAbout {
    width: 310px;
    padding: 00px;
    margin: 20px;
    animation: bounce 0.7s;
    margin: -1000px 10 0 300px;
    color: rgb(230, 46, 165);
    background-color: black;   
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    font-size: x-large;
  }

.candyImageAll {
    width: 500px;
    height: 350px;
    padding: 00px;
    border-radius: 50%;
    margin: -1000px 10 0 300px;
    animation: bounce 0.7s;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }
  
  .candyImageBubbleTape {
    width: 350px;
    height: 350px;
    padding: 00px;
    border-radius: 50%;
    margin: 10px 0 0 30px;
    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  .littleAbout {
    height: 250px;
    width: 800px;
    margin: 100px; 
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    color:rgb(32, 198, 184) ;  
    background-color: black;
    font-size: xx-large;
    animation: fadeIn 5s infinite;
  }

  .littleImage {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 100px;
    top: 50%;
    left: 50%;
    margin: -185px 0 0 -300px;
    animation: spinOpposite 3s infinite;

}

  /*movement and transitions*/
    
  @keyframes animationFrames{
    0% {
      background-color: black;
    }
    20% {
      background-color: rgb(248, 95, 6);
    }
    40% {
        background-color: rgb(233, 108, 19);
    }
    60% {
        background-color: rgb(236, 127, 48);
    }
    100% {
      background-color: black;
    }
  }

  @keyframes cf3FadeInOut {
    55% {
        opacity:1;
      }
      100% {
        opacity: 1;
      }
    0% {
      opacity:0;
    }
    45% {
      opacity:0;
    }
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes shimmer {
    100% {-webkit-mask-position:left}
  }

@keyframes mymove {
    from {background-color: f0491f;}
    to {background-color: black;}
}

@-webkit-keyframes spinX
{  
0%   {-webkit-transform: rotateX(0deg); -webkit-transform-origin: 0% 50% 0;}  
100% {-webkit-transform: rotateX(360deg); -webkit-transform-origin: 0% 50% 0;}  
}
@keyframes spinX
{  
0%   {transform: rotateX(0deg); transform-origin: 0% 50% 0;}  
100% {transform: rotateX(360deg); transform-origin: 0% 50% 0;}  
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}

@-moz-keyframes spinOpposite { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spinOpposite { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spinOpposite { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
  
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 300px, 0);
    }
}

